<div class="detail-wrapper">
  <h2>{{ occasion.name }}</h2>
  <mat-card>
    <mat-form-field class="occasion-form">
      <input [(ngModel)]="occasion.name" matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field class="occasion-form">
      <textarea [(ngModel)]="occasion.description" matInput placeholder="Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="occasion-form">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let participant of occasion.participants" [selectable]="selectable" [removable]="removable" (remove)="remove(participant)">
          {{participant.name}}
          <mat-icon matChipRemove *ngIf="participant.credit === 0">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New participant..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <mat-card-title>Transactions</mat-card-title>
    <div>

      <form class="item-form-wrapper">
        <mat-form-field class="item-edit-forms">
          <input required [(ngModel)]="newItemName" matInput placeholder="Transacion name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="item-edit-forms">
          <mat-select required [(ngModel)]="newItemPayer" placeholder="Payer" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let participant of occasion.participants" [value]="participant.name">
              {{ participant.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="item-edit-forms">
          <input required [(ngModel)]="newItemAmount" name="newItemAmount" matInput type="number" name="price" value="0.00" min="0.01" placeholder="Price">
        </mat-form-field>

        <button class="item-edit-forms item-edit-forms-shorten" mat-raised-button color=primary (click)="submitItem()">Submit</button>
      </form>
    </div>

    <div class="mat-elevation-z8">
      <mat-table #table [(dataSource)]="dataSource">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payer">
          <mat-header-cell *matHeaderCellDef> Payer </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.payer.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.amount | convertcurrency }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let item" (click)="deleteItem(item)">
            <mat-icon>cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card>

  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let transaction of occasion.transactions"> {{transaction.debtor.name}} owes {{transaction.creditor.name}} {{transaction.amount | convertcurrency }} </mat-list-item>
    </mat-list>
  </mat-card>

</div>
