<div class="detail-wrapper">
  <h2>{{ occasion.name }}</h2>
  <mat-card>
    <mat-form-field>
      <input [(ngModel)]="occasion.name" matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea [(ngModel)]="occasion.description" matInput placeholder="Description"></textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="demo-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let participant of occasion.participants" [selectable]="selectable"
                 [removable]="removable" (remove)="remove(participant)">
          {{participant}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New participant..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
    </mat-form-field>

    

  </mat-card>
</div>
