.detail-wrapper {

  padding: 30px;
}
.occasion-form {
  width: 100%;
}

.item-form-wrapper {
  display: flex;
}
.item-list-adder {
  display: inline-block;
  flex: 1 1 auto;
  justify-content: space-between;

}
.mat-card {
  margin-bottom: 30px;
}
