
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">Splitter</span>
      <span class="fill-remaining-space"></span>
      <mat-select [(ngModel)]="selectedItem" [(value)] = "selectedItem" (ngModelChange)="getSelectedValue(selectedItem)" class="select-box" placeholder="{{currencyPlaceholder}}">

        <mat-option class="select-option" *ngFor="let currency of currencies" [value]="currency.value">
         {{ currency.viewValue }} <img [style.width.px]="16" [style.height.px]="16" [src]="currency.imageUrl"/>
       </mat-option>
       </mat-select>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
<!-- <app-occasion-list></app-occasion-list> -->


</div>
