<mat-card class="occasion-card">
  <mat-card-header>
    <div class="title-wrapper">
      <mat-card-title><b>{{ occasion.name }}</b></mat-card-title>
      <span class="occasion-card-spending">{{ occasion.totalSpending | currency:'EUR':'symbol' }} </span>
      <mat-card-subtitle>{{ occasion.date }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ occasion.description }}
    </p>
    <mat-chip-list>
      <mat-chip *ngFor="let participant of occasion.participants">{{ participant }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color=primary>Open</button>
    <button mat-raised-button color=warn>Delete</button>
  </mat-card-actions>
</mat-card>
